*{
    background: linear-gradient(to bottom, rgb(0, 100, 255), rgb(255, 69, 0));
    box-sizing: content-box;
}

.maintitle{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(245, 234, 46);
    background: linear-gradient(to top, rgb(0, 100, 255), rgb(255, 69, 0));
}

div{
    width: 340px;
    height: 510px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 17px;
    position: relative;
    z-index: 0;
}

div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Dokkan{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Dokkan::before{
    background-image: url(../galeria/imagenes/14Dokkan.webp);
}

.A15{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A15::before{
    background-image: url(../galeria/imagenes/15Dokkan.webp);
}

.A17{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A17::before{
    background-image: url(../galeria/imagenes/17_Artwork.webp);
}

.A19{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A19::before{
    background-image: url(../galeria/imagenes/Android19.webp);
}

.A13{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A13::before{
    background-image: url(../galeria/imagenes/Androide13normal.webp);
}

.A16{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A16::before{
    background-image: url(../galeria/imagenes/Androide_16.webp);
}

.A18{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.A18::before{
    background-image: url(../galeria/imagenes/Androide_18_Artwork.webp);
}

.Dende{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Dende::before{
    background-image: url(../galeria/imagenes/Arte_de_Dende_en_Super_Hero.webp);
}

.Babidi{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Babidi::before{
    background-image: url(../galeria/imagenes/Babidi_Artwork.webp);
}

.Bardock{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Bardock::before{
    background-image: url(../galeria/imagenes/Bardock_Artwork.webp);
}

.Beerus{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Beerus::before{
    background: url(../galeria/imagenes/Beerus_DBS_Broly_Artwork.webp);
}

.Bulma{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Bulma::before{
    background: url(../galeria/imagenes/bulma.webp);
}

.BuuGordo{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.BuuGordo::before{
    background: url(../galeria/imagenes/BuuGordo_Universo7.webp);
}

.Cell{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Cell::before{
    background: url(../galeria/imagenes/celula.webp);
}

.Milk{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Milk::before{
    background: url(../galeria/imagenes/ChiChi_DBS.webp);
}

.Dendejoven{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Dendejoven::before{
    background: url(../galeria/imagenes/Dende_Artwork.webp);
}

.Dispo{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Dispo::before{
    background: url(../galeria/imagenes/Dispo_render.webp);
}

.Dodoria{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Dodoria::before{
    background: url(../galeria/imagenes/dodoria.webp);
}

.DrGero{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.DrGero::before{
    background: url(../galeria/imagenes/Dr._Gero_nadroide_20.webp);
}

.Yamcha{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Yamcha::before{
    background: url(../galeria/imagenes/Final_Yamcha.webp);
}

.Freezer{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Freezer::before{
    background: url(../galeria/imagenes/Freezer.webp);
}

.Ginyu{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Ginyu::before{
    background: url(../galeria/imagenes/ginyu.webp);
}

.GinyuF{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.GinyuF::before{
    background: url(../galeria/imagenes/ginyu_force.webp);
}

.Gohan{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Gohan::before{
    background: url(../galeria/imagenes/gohan.webp);
}

.Goku{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Goku::before{
    background: url(../galeria/imagenes/goku_normal.webp);
}

.Gotenks{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Gotenks::before{
    background: url(../galeria/imagenes/Gotenks_Artwork.webp);
}

.GKS{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.GKS::before{
    background: url(../galeria/imagenes/Gran_Kaio-shin_Artwork.webp);
}

.GKSama{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.GKSama::before{
    background: url(../galeria/imagenes/Gran_kaio_sama12.webp);
}

.GrandPriest{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.GrandPriest::before{
    background: url(../galeria/imagenes/Grand_priest.webp);
}

.Jiren{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Jiren::before{
    background: url(../galeria/imagenes/Jiren.webp);
}

.KSE{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KSE::before{
    background: url(../galeria/imagenes/kaio-shin_del_este.webp);
}

.KSN{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KSN::before{
    background: url(../galeria/imagenes/Kaio-shin_del_norte.webp);
}

.KSO{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KSO::before{
    background: url(../galeria/imagenes/Kaio-shin_del_Oeste_Dokkan.webp);
}

.KSS{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KSS::before{
    background: url(../galeria/imagenes/Kaio-shin_del_Sur_Dokkan.webp);
}

.KE{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KE::before{
    background: url(../galeria/imagenes/kaio_del_este.webp);
}

.KN{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KN::before{
    background: url(../galeria/imagenes/Kaio_del_Norte.webp);
}

.KO{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KO::before{
    background: url(../galeria/imagenes/Kaio_del_oeste.webp);
}

.KS{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KS::before{
    background: url(../galeria/imagenes/Kaio_del_sur_cuerpo_completo.webp);
}

.Kibito{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Kibito::before{
    background: url(../galeria/imagenes/Kibito_Artwork.webp);
}

.KibitoS{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.KibitoS::before{
    background: url(../galeria/imagenes/Kibito_shin_Artwork.webp);
}

.Krillin{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Krillin::before{
    background: url(../galeria/imagenes/Krilin_Universo7.webp);
}

.Lunch{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Lunch::before{
    background: url(../galeria/imagenes/Lunch_traje_de_sirvienta_en_el_manga.webp);
}

.Marcarita{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Marcarita::before{
    background: url(../galeria/imagenes/Marcarita.webp);
}

.MrSatan{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.MrSatan::before{
    background: url(../galeria/imagenes/Mr_Satan_DBSuper.webp);
}

.Nail{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Nail::before{
    background: url(../galeria/imagenes/Nail_Artwork.webp);
}

.Piccolo{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Piccolo::before{
    background: url(../galeria/imagenes/picolo_normal.webp);
}

.Raditz{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Raditz::before{
    background: url(../galeria/imagenes/Raditz_artwork_Dokkan.webp);
}

.Roshi{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Roshi::before{
    background: url(../galeria/imagenes/roshi.webp);
}

.Ten{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Ten::before{
    background: url(../galeria/imagenes/Tenshinhan_Universo7.webp);
}

.Toppo{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Toppo::before{
    background: url(../galeria/imagenes/Toppo.webp);
}

.Trunks{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Trunks::before{
    background: url(../galeria/imagenes/Trunks_Buu_Artwork.webp);
}

.Vegeta{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Vegeta::before{
    background: url(../galeria/imagenes/vegeta_normal.webp);
}

.Vermound{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Vermound::before{
    background: url(../galeria/imagenes/Vermoud.webp);
}

.Whis{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Whis::before{
    background: url(../galeria/imagenes/Whis_DBS_Broly_Artwork.webp);
}

.Zarbon{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Zarbon::before{
    background: url(../galeria/imagenes/zarbon.webp);
}

.Zeno{
    background: linear-gradient(to top, rgb(245, 234, 46), rgb(255, 69, 0), rgb(0, 100, 255));
}

.Zeno::before{
    background: url(../galeria/imagenes/Zeno_Artwork.webp);
}

h2, p{
    margin: 12px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    color: rgb(0, 0, 0);
}